# Normal Forms

#### 1st Normal Form (1NF)
- Each column must contain a single value (atomic)
- All values in a column must be of the same type
- Column name must be unique
- No two rows in a table can be identical
- Removing repeating groups(such as columns: author_1, author_2 in the same table)

#### 2nd Normal Form (2NF)
- Meet all requirements of 1NF
- All of its non-key attributes are dependent on all of the primary key (partial dependency). Tables with a single column primary key are automatically be in 2NF


#### 3rd Normal Form (3NF)
- Meet all requirements of 2NF
- No transitive dependencies

## Import libraries

In [1]:
import logging

import psycopg2

In [2]:
logger = logging.getLogger(__name__)

### Connect to Postgres db

In [4]:
try:
    connection = psycopg2.connect(
        host='127.0.0.1',
        user='postgres',
        password='mysecretpassword',
        dbname='postgres'
    )

    cursor = connection.cursor()
    connection.set_session(autocommit=True)
except psycopg2.Error as e:
    logger.error('Can not connect to postgres db', exc_info=e)

### Create un-normalized table

In [21]:
try:
    cursor.execute("CREATE TABLE IF NOT EXISTS music_store (transaction_id int, customer_name varchar, cashier_name varchar, sale_year int, albums_purchased text[]);")
except psycopg2.Error as e:
    logger.error('Can not create the table', exc_info=e)

In [22]:
try:
    cursor.execute("INSERT INTO music_store (transaction_id, customer_name, cashier_name, sale_year, albums_purchased) VALUES (%s, %s, %s, %s, %s)", (1, "Amanda", "Sam", 2000, ["Rubber Soul", "Let it be"]))

    cursor.execute("INSERT INTO music_store (transaction_id, customer_name, cashier_name, sale_year, albums_purchased) VALUES (%s, %s, %s, %s, %s)", (2, "Toby", "Sam", 2000, ["My Generation"]))
except psycopg2.Error as e:
    logger.error('Can not insert data into the table', exc_info=e)

In [23]:
cursor.execute("SELECT * FROM music_store;")
cursor.fetchall()

[(1, 'Amanda', 'Sam', 2000, ['Rubber Soul', 'Let it be']),
 (2, 'Toby', 'Sam', 2000, ['My Generation'])]

### Creating 1st Normal Norm (1NF)

In [27]:
try:
    cursor.execute("CREATE TABLE IF NOT EXISTS music_store_2 (transaction_id int, customer_name varchar, cashier_name varchar, sale_year int, album_purchased text);")
except psycopg2.Error as e:
    logger.error('Can not create table', exc_info=e)

In [28]:
try:
    cursor.execute("INSERT INTO music_store_2 (transaction_id, customer_name, cashier_name, sale_year, album_purchased) VALUES (%s, %s, %s, %s, %s);", (1, "Amanda", "Sam", 2000, "Rubber Soul"))
except psycopg2.Error as e:
    logger.error('Can not insert data into table', exc_info=e)

In [29]:
try:
    cursor.execute("INSERT INTO music_store_2 (transaction_id, customer_name, cashier_name, sale_year, album_purchased) VALUES (%s, %s, %s, %s, %s);", (2, "Amanda", "Sam", 2000, "Let it be"))
except psycopg2.Error as e:
    logger.error("Can not insert into the table", exc_info=e)

In [30]:
try:
    cursor.execute("INSERT INTO music_store_2 (transaction_id, customer_name, cashier_name, sale_year, album_purchased) VALUES (%s, %s, %s, %s, %s);", (3, "Toby", "Sam", 2000, "My Generation"))
except psycopg2.Error as e:
    logger.error('Can not insert data into the table', exc_info=e)

In [33]:
cursor.execute("SELECT * FROM music_store_2;")
cursor.fetchall()

[(1, 'Amanda', 'Sam', 2000, 'Rubber Soul'),
 (2, 'Amanda', 'Sam', 2000, 'Let it be'),
 (3, 'Toby', 'Sam', 2000, 'My Generation')]

### Create 2nd Normal Form (2NF)